asttokens
cloudpickle
colorama
comm
contourpy
cvxopt
cycler
debugpy
decorator
executing
Farama-Notifications
filterpy
fonttools
gymnasium==0.29.1
ipykernel
ipython
jedi
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
ndsplines
nest-asyncio
numpy==1.21.0
packaging
pandas
parso
pillow
platformdirs
prompt_toolkit
psutil
pure_eval
Pygments
pyparsing
python-dateutil==2.8.2
pytz
PyYAML
pyzmq
rotorpy
scipy
six
stack-data
timeout-decorator
tornado
tqdm
traitlets
typing_extensions
tzdata
wcwidth
